<h1>Portfolio items</h1>
<h2>Create a new portfolio here!</h2>

<%= link_to "Create New Item", new_portfolio_url %>
<% @portfolio_items.each do |portfolio_item| %>
    <p><%= portfolio_item.title %></p>
    <p><%= portfolio_item.body %></p>
    <%= image_tag portfolio_item.thumb_image if portfolio_item.thumb_image != nil %>
    <%= link_to "Edit Item", edit_portfolio_path(portfolio_item.id) %>
<%end%>

